services:
  module1:
    build:
      context: .
      dockerfile: MikataArm_ROS_open_manipulator_ROS_noetic_ros-base_profile.Dockerfile
    image: mikataarm_ros_open_manipulator_ros_noetic_ros_base_profile_image
    container_name: mikataarm_ros_open_manipulator_ros_noetic_ros_base_profile_container
    privileged: true
    devices:
    - /dev/bus/usb:/dev/bus/usb
    network_mode: host
    environment:
    - DISPLAY=${DISPLAY}
    - QT_X11_NO_MITSHM=1
    volumes:
    - /tmp/.X11-unix:/tmp/.X11-unix
    tty: true
    stdin_open: true
    command:
    - bash
    restart: unless-stopped
